{% extends "base.html.twig" %}
{% block body %}
    <div class="form_container">
        <form method="post">
            <div class="form_header"><h1>Анкета</h1></div>
            <div class="form_item">
                <p>Ім'я</p>
                <input type="text" name="name">
            </div>
            <div class="form_item">
                <p>Email</p>
                <input type="text" name="email">
            </div>
            <div class="form_item">
                <p>День народження</p>
                <input type="text" data-type="date" name="birthday">
                <div class="calendarPage"></div>
            </div>
            <div class="form_item">
                <p>ВНЗ</p>
                <input type="text" name="university">
            </div>
            <div class="form_item">
                <p>Дата акінчення ВНЗ</p>
                <input type="text" data-type="date" name="universityDate">
                <div class="calendarPage"></div>
            </div>
            <div class="form_item">
                <p>Школа</p>
                <input type="text" name="school">
            </div>
            <div class="form_item">
                <p>Дата закінчення школи</p>
                <input type="text" data-type="date" name="schoolDate">
                <div class="calendarPage"></div>
            </div>
            <div id="errors"></div>
            <div class="form_submit">
                <input type="submit" name="submit" value="Надіслати">
            </div>
        </form>
    </div>
{% endblock %}
