{% extends "base.html.twig" %}
{% block body %}
    <div class="form_container">
        <div class="form_header"><h3>Дюкуємо за надіслану інформацію!</h3></div>
        <div class="form_item big_text"><p>Ім'я: {{ name }}</p></div>
        <div class="form_item big_text"><p>Email: {{ email }}</p></div>
        <div class="form_item big_text"><p>День народження: {{ birthday|replace({'/' : '.'}) }}</p></div>
        <div class="form_item big_text"><p>ВНЗ: {{ university }}</p></div>
        <div class="form_item big_text"><p>Дата закінчення ВНЗ: {{ universityDate|replace({'/' : '.'}) }}</p></div>
        <div class="form_item big_text"><p>Школа: {{ school }}</p></div>
        <div class="form_item big_text"><p>Дата закінчення школи: {{ schoolDate|replace({'/' : '.'}) }}</p></div>
    </div>
{% endblock %}
