body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
}

.form_container {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}

.form_header {
    text-align: center;
    font-weight: 900;
}

.form_item {
    margin-bottom: 1px;
    font-size: 13px;
    margin-top: 10px;
}
.form_item input {
    width: 100%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background: white;
}
.form_submit input {
    margin-top: 10px;
    color: white;
    background: linear-gradient(blue, navy);
    padding: 10px;
    border: 1px solid navy;
    border-radius: 5px;
    font-weight: 900;
}
.form_submit input:hover {
    background: linear-gradient(#0d0eff, #1001ff);;
}
.big_text {
    font-size: 15px;
}

.date:hover {
    background: cornflowerblue;
    cursor: pointer;
}

button {
    height: 100px;

}

table {
    float: left;
}

.calendarPage {
    width: 400px;
    margin: auto;
    justify-self: center;
    position: absolute;
    z-index: 1;
    background: #cfcfcf;
}

.calendar {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.calendar_title {
    text-align: center;
}

.calendar_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

#errors {
    color: red;
    font-size: 13px;
}
