<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Calendar{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/assets/css/styles.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/bundle.js') }}"></script>
    {% endblock %}
    {% block favicon %}
        <link rel="icon" type="img/ico" href="{{ asset('/assets/images/favicon.ico') }}">
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
